<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @task.body %>
</p>

<p>
  <strong>Commenter:</strong>
  <%= @task.commenter_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
