<p>
  <strong>Game:</strong>
  <%= @move.game_id %>
</p>

<p>
  <strong>Move:</strong>
  <%= @move.move %>
</p>

<p>
  <strong>Legal:</strong>
  <%= @move.legal %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @move.accepted %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
