<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row g-2">
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select" id="whiteteamcolor" aria-label="whiteteamcolor">
          <option selected>Select Team</option>
          <option value="Red">Red</option>
          <option value="Orange">Orange</option>
          <option value="Yellow">Yellow</option>
          <option value="Green">Green</option>          
          <option value="Blue">Blue</option>
          <option value="Purple">Purple</option>
          <option value="Pink">Pink</option>
          <option value="Brown">Brown</option>   
        </select>
        <label for="whiteteamcolor">White Team</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
          <option selected>Select Team</option>
          <option value="Red">Red</option>
          <option value="Orange">Orange</option>
          <option value="Yellow">Yellow</option>
          <option value="Green">Green</option>          
          <option value="Blue">Blue</option>
          <option value="Purple">Purple</option>
          <option value="Pink">Pink</option>
          <option value="Brown">Brown</option>   
        </select>
        <label for="floatingSelectGrid">Black Team</label>
      </div>
    </div>    
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>


  <div class="field">
    <%= form.label :blackteamcolor %>
    <%= form.text_field :blackteamcolor %>
  </div>

  <div class="field">
    <%= form.label :outcome %>
    <%= form.text_field :outcome %>
  </div>

  <div class="field">
    <%= form.label :movehistory %>
    <%= form.text_field :movehistory %>
  </div>

  <div class="field">
    <%= form.label :boardsetup %>
    <%= form.text_field :boardsetup %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
