<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Whiteteamcolor</th>
      <th>Blackteamcolor</th>
      <th>Outcome</th>
      <th>Movehistory</th>
      <th>Boardsetup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.status %></td>
        <td><%= game.whiteteamcolor %></td>
        <td><%= game.blackteamcolor %></td>
        <td><%= game.outcome %></td>
        <td><%= game.movehistory %></td>
        <td><%= game.boardsetup %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
