<div class="container">
  <div class="card" style="margin-top: 10vh">
    <div class="row">
      <h1 class="text-center">
        <%= "Day " + @lesson.day.to_s + ": " + @lesson.title.to_s %>
      </h1>
    </div>
  </div>
  <br class="invisible">
  <div class="container">
    <div class="card" id="accordionExample">
      <div class="accordion-item container-fluid">
        <div class="accordion-header" id="headingOne">
          <div class="row">
            <div class="col-10">
              <div class="row" style="margin-top: 5vh; margin-bottom 5vh">
                <h3>Today's Teaching:</h3>
              </div>
              <div class="row card-body">
                <%= @lesson.description%>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center">
              <button id="collapseOneButton" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              </button>
            </div>
          </div>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <br>
            <%= render partial: @teaching_link %>
            <div>
              <%= render partial: "lesson_events/form", locals: {study_session: @study_session, status_value: :teaching_done} %>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br class="invisible">
    <div class="card" id="accordionExample">
      <div class="accordion-item container-fluid">
        <div class="accordion-header" id="headingTwo">
          <div class="row">
            <div class="col-10">
              <div class="row" style="margin-top: 5vh; margin-bottom 5vh">
                <h3>Today's Practice:</h3>
              </div>
              <div class="row card-body">
                <%= @lesson.practice_description%>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center">
              <button id="collapseTwoButton" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              </button>
            </div>
          </div>
        </div>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <br>
            <%= render partial: @practice_link %>
            <div>
              <%= render partial: "lesson_events/form", locals: {study_session: @study_session, status_value: :practice_done} %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <br class="invisible">
    <div class="card" id="accordionExample">
      <% if @lesson.id == 5 %>
        <div class="accordion-item container-fluid">
          <div class="accordion-header" id="headingThree">
            <div class="row">
              <div class="col-10">
                <div class="row" style="margin-top: 5vh; margin-bottom 5vh">
                  <h3>Today's Spiritual Assessment:</h3>
                </div>
              </div>
              <div class="col-2 d-flex justify-content-center">
                <button id="collapseThreeButton" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                </button>
              </div>
            </div>
          </div>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <br>
              <%= render partial: "assessment_scores/form_lived", locals: {study_session: @study_session, type_assessment: @lesson.spiritual_type, assessment_score: @type_score, aq_count: @aq_count} %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <%= render partial: "lesson_events/form_complete", locals: {study_session: @study_session, status_value: "complete" } %>
      </div>
    <% elsif @aq_count <= 11 %>
      <div class="accordion-item container-fluid">
        <div class="accordion-header" id="headingThree">
          <div class="row">
            <div class="col-10">
              <div class="row" style="margin-top: 5vh; margin-bottom 5vh">
                <h3>Today's Spiritual Assessment:</h3>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center">
              <button id="collapseThreeButton" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              </button>
            </div>
          </div>
        </div>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <br>
            <%= render partial: "assessment_scores/form", locals: {assessment_score: @type_score, study_session: @study_session, type_assessment: @lesson.spiritual_type, aq_count: @aq_count} %>
          </div>
        </div>
      </div>
    </div>
    <div>
      <%= render partial: "lesson_events/form_complete", locals: {study_session: @study_session, status_value: "complete" } %>
    </div>
  <% else %>
    <%= render partial: "lesson_events/form_complete", locals: {study_session: @study_session, status_value: "complete" } %>
    <p>Thanks for trying our prototype!</p>
  <%end%>
</div>
<br>
<br>
</div>
