<p id="notice"><%= notice %></p>

<p>
  <strong>Spiritual type:</strong>
  <%= @course.spiritual_type %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>short_description:</strong>
  <%= @course.short_description %>
</p>

<p>
  <strong>Lessons count:</strong>
  <%= @course.lessons_count %>
</p>

<%= render partial: "devise/registrations/edit", locals: {resource: :seeker,resource_name: current_seeker} %>
<%= link_to 'Back', courses_path %>
