<%= form_with(model: assessment_score) do |form| %>
  <% if assessment_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assessment_score.errors.count, "error") %> prohibited this assessment_score from being saved:</h2>

      <ul>
        <% assessment_score.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% AssessmentQuestion.where(spiritual_type: type_assessment.downcase, assessment: "spiritual_type").each do |assessment_question| %>
    <div class="row list-group-item">
      <div class="row container-fluid text-center">
        <label for="question-<%= assessment_question.number%>"><%= assessment_question.question %></label>
      </div>
      <div class="row">
        <input type="range" min="1" max="5" value="1" class="slider form-control-range" id="question-<%= assessment_question.number%>" step="1" name="question-<%= assessment_question.number%>" list="tickmarks" score=1>
        <datalist id="tickmarks">
          <option value="1" label="1"></option>
          <option value="2" label="2"></option>
          <option value="3" label="3"></option>
          <option value="4" label="4"></option>
          <option value="5" label="5"></option>
        </datalist>
      </div>
      <div class="row">
        <div class="col text-left">
          Very Unimportant
        </div>
        <div class="col text-end">
          Very Important
        </div>
      </div>
    </div>
    <script>
      $(document).on('input', '#question-<%=assessment_question.number%>', function() {
        $('#question-<%=assessment_question.number%>').attr('score', $(this).val());
        });
    </script>
  <% end %>

  <script>
  $(document).on('input', '.slider', function() {
  var scores = $(this).attr( 'score' );
  console.log( scores );
  })
  </script>

  <div class="field">
    <%= form.hidden_field :type_assessment, value: :slider_value %>
  </div>

  <div class="field">
    <%= form.hidden_field :seeker_id, value: current_seeker.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :type_assessment, value: 5 %>
  </div>

  <div class="actions">
    <%= form.submit "Done" %>
  </div>
<% end %>
