<%= form_with(model: assessment_score, method: :patch, local: false, remote: true) do |form| %>
  <% if assessment_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assessment_score.errors.count, "error") %> prohibited this assessment_score from being saved:</h2>

      <ul>
        <% assessment_score.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% AssessmentQuestion.where(spiritual_type: type_assessment.downcase, assessment: "spiritual_type").each do |assessment_question| %>
    <div class="row list-group-item">
      <div class="row container-fluid text-center">
        <label for="question-<%= assessment_question.number%>"><%= assessment_question.question %></label>
      </div>
      <div class="row">
        <input type="range" min="1" max="5" value="1" class="slider form-control-range" id="<%= assessment_question.name %>_range" step=".1" name="<%= assessment_question.name %>" list="tickmarks" score=1>
        <datalist id="tickmarks">
          <option value="1" label="1"></option>
          <option value="2" label="2"></option>
          <option value="3" label="3"></option>
          <option value="4" label="4"></option>
          <option value="5" label="5"></option>
        </datalist>
      </div>
      <div class="row">
        <div class="col text-left">
          Very Unimportant
        </div>
        <div class="col text-end">
          Very Important
        </div>
      </div>
      <script>
        $(document).on('input', '#<%=assessment_question.name%>_range', function() {
          var <%=assessment_question.name%>_score = Number($(this).val());
          console.log( <%=assessment_question.name%>_score );
          $('#<%=assessment_question.name%>').attr('value', <%=assessment_question.name%>_score);
          })
      </script>
    </div>
  <% end %>
  <div class="field">
    <%= form.hidden_field :seeker_id, value: current_seeker.id %>
  </div>
  <div class="field">
    <%= form.hidden_field :divine_relationship, id: "divine_relationship", value: assessment_score.divine_relationship %>
  </div>
  <div class="field">
    <%= form.hidden_field :something_more, id: "something_more", value: assessment_score.something_more %>
  </div>
  <div class="field">
    <%= form.hidden_field :creator_relationship, id: "creator_relationship", value: assessment_score.creator_relationship %>
  </div>
  <div class="field">
    <%= form.hidden_field :love_others, id: "love_others", value: assessment_score.love_others %>
  </div>
  <div class="field">
    <%= form.hidden_field :chain_link, id: "chain_link", value: assessment_score.chain_link %>
  </div>
  <div class="field">
    <%= form.hidden_field :authentic_vulnerable, id: "authentic_vulnerable", value: assessment_score.authentic_vulnerable %>
  </div>
  <div class="field">
    <%= form.hidden_field :nature_oneness, id: "nature_oneness", value: assessment_score.nature_oneness %>
  </div>
  <div class="field">
    <%= form.hidden_field :magic_vibrations, id: "magic_vibrations", value: assessment_score.magic_vibrations %>
  </div>
  <div class="field">
    <%= form.hidden_field :environment_harmony, id: "environment_harmony", value: assessment_score.environment_harmony %>
  </div>
  <div class="field">
    <%= form.hidden_field :inner_peace, id: "inner_peace", value: assessment_score.inner_peace %>
  </div>
  <div class="field">
    <%= form.hidden_field :self_knowing, id: "self_knowing", value: assessment_score.self_knowing %>
  </div>
  <div class="field">
    <%= form.hidden_field :inner_resources, id: "inner_resources", value: assessment_score.inner_resources %>
  </div>
  <div class="field">
    <%= form.hidden_field :divine_relationship_lived, id: "divine_relationship_lived", value: assessment_score.divine_relationship_lived %>
  </div>
  <div class="field">
    <%= form.hidden_field :something_more_lived, id: "something_more_lived", value: assessment_score.something_more_lived %>
  </div>
  <div class="field">
    <%= form.hidden_field :creator_relationship_lived, id: "creator_relationship_lived", value: assessment_score.creator_relationship_lived %>
  </div>
  <div class="field">
    <%= form.hidden_field :love_others_lived, id: "love_others_lived", value: assessment_score.love_others_lived %>
  </div>
  <div class="field">
    <%= form.hidden_field :chain_link_lived, id: "chain_link_lived", value: assessment_score.chain_link_lived %>
  </div>
  <div class="field">
    <%= form.hidden_field :authentic_vulnerable_lived, id: "authentic_vulnerable_lived", value: assessment_score.authentic_vulnerable_lived %>
  </div>
  <div class="field">
    <%= form.hidden_field :nature_oneness_lived, id: "nature_oneness_lived", value: assessment_score.nature_oneness_lived %>
  </div>
  <div class="field">
    <%= form.hidden_field :magic_vibrations_lived, id: "magic_vibrations_lived", value: assessment_score.magic_vibrations_lived %>
  </div>
  <div class="field">
    <%= form.hidden_field :environment_harmony_lived, id: "environment_harmony_lived", value: assessment_score.environment_harmony_lived %>
  </div>
  <div class="field">
    <%= form.hidden_field :inner_peace_lived, id: "inner_peace_lived", value: assessment_score.inner_peace_lived %>
  </div>
  <div class="field">
    <%= form.hidden_field :self_knowing_lived, id: "self_knowing_lived", value: assessment_score.self_knowing_lived %>
  </div>
  <div class="field">
    <%= form.hidden_field :inner_resources_lived, id: "inner_resources_lived", value: assessment_score.inner_resources_lived %>
  </div>
  <br>
  <div class="actions d-flex justify-content-center">
    <%= form.submit "Submit My Answers", class: "btn btn-secondary" %>
  </div>
<% end %>
