<p id="notice"><%= notice %></p>

<h1>Assessment Scores</h1>

<table>
  <thead>
    <tr>
      <th>Seeker</th>
      <th>Personalist</th>
      <th>Communalist</th>
      <th>Environmentalist</th>
      <th>Transcendentalist</th>
      <th>Spiritual type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessment_scores.each do |assessment_score| %>
      <tr>
        <td><%= assessment_score.seeker_id %></td>
        <td><%= assessment_score.personalist %></td>
        <td><%= assessment_score.communalist %></td>
        <td><%= assessment_score.environmentalist %></td>
        <td><%= assessment_score.transcendentalist %></td>
        <td><%= assessment_score.spiritual_type %></td>
        <td><%= link_to 'Show', assessment_score %></td>
        <td><%= link_to 'Edit', edit_assessment_score_path(assessment_score) %></td>
        <td><%= link_to 'Destroy', assessment_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assessment Score', new_assessment_score_path %>
