<!DOCTYPE html>
<html>
  <head>
    <title>VanillaRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "shared/cdn_assets" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <% if notice.present? %>
        <%= render "shared/flash", message: notice, css_class: "success" %>
      <% end %>
      <% if alert.present? %>
        <%= render "shared/flash", message: alert, css_class: "danger" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
